/* CORE CSS */

body{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #2d3436;
}

p{
	margin: 0;
	padding: 1em 0em;
	text-align: center;
}

h2,h3{
	text-align: center;
}

/* Menu HamBurger */

nav a
{
  text-decoration: none;
  color: #ededed;
  
  transition: color 0.3s ease;
}

nav a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #3fadab;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ededed;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  height: 100vh;
  padding-top: 125px;
  
  background: #3fadab;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu .logo{
	font-size: 2em;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* BANNER STARTS */

.banner{
	background-image: url("../images/banner_mobile.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 300px;
	margin: 2em 0em
}

/* Main ELEMENTS */

#main .title-left{
	width: 100%;
	display: inline-block;
}

#main .title-left img{
	margin-left: 2em;
	width: 15%;
	height: auto;
	float: left;
}

.title-font{
	margin: 0em 0.5em;
	font-size: 8vw;
	padding-top: 0;
}

#main .title-right{
	width: 100%;
	display: inline-block;
}

#main .title-right img{
	margin-right: 2em;
	width: 15%;
	height: auto;
	float: right;
}

#main .title-right .title-font{
	float: right;
}


/* ABOUT US */

#aboutus{
	margin: 4em 0em;
}

/* OUR TEAM */

#ourteam{
	margin: 4em 0em;
}

#aboutus .content-wrap{
	padding: 4em 5em;
}

#aboutus .content-wrap p{
	font-size: 3vw;
	text-align: left;
	padding: 0em 2em;
}

/* OUR TEAM */

#ourteam{
	padding: 2em 1em 1em;
}


#ourteam .content-wrap img{
	width: 100%;
	height: auto;
}

#ourteam .content-wrap{
	padding: 6em 0em;
}

#ourteam ul{
	list-style: none;
	margin: 0;
	padding-left: 20%;
}

#ourteam li{
	margin-bottom: 1em;
}

.card{
	display: inline-block;
}

.card-title{
	font-size: 3em;
}

.card-content{
	padding: 1.5em;
	font-size: 3em;
}

/* LABS */

#labs .content-wrap{
	padding: 2em 0em;
}

#labs .content-wrap img{
	width: 100%;
	height: auto;
}

#labs ul{
	list-style: none;
	margin: 0;
}

/* Projects */

.project-card{
	display: inline-block;
}

.project-card-content{
	color: #ededed;
	background-color: #3fadab;
	font-size: 3em;
}

#projects .content-wrap{
	padding: 2em 0em;
}

#projects .content-wrap img{
	width: 100%;
	height: auto;
}

#projects ul{
	list-style: none;
	padding-left:35%;
}

#projects{
	margin-top: 2em;
}

.project-card-title{
	font-size: 3em;
}

/* Contact Us */

#contactus{
	margin-top: 2em;
}

#contactus .maps{
	width: 100%;
	height: 400px;
	float: left;
	margin-top: 2em;
}

.member{
	margin: 2% 0%;
	width: 80%;
	height: 50%;
	text-align: left;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-around;
}

.display{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.member .card-content{
	width: 100%;
	text-align: left;
	padding: 0;
	align-content: left;
}

.content {
  font-size: 2.5vw;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible{
	background-color: white;
    color: #3fadab;
    cursor: pointer;
    border: none;
    left: 0;
    font-size: 3vw;
    outline: none;
}

.lab-disp{
	display: flex;
	padding: 10% 0%;
	flex-direction: column;
	justify-content: space-around;
}

.lab-container{
	width: 80%;
}

.image{
	width: 60%;
}

.spaces{
	padding: 10% 0;
}